@model NepaleseRestaurant.Models.Contact
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{

    @Html.ValidationSummary(true)
    <div class="row p-2">
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Name, new { @placeholder = "Enter Your Name", @class = "form-control", @id = "name", @type = "text", @name = "name" })
            <div class="validation-message">@Html.ValidationMessageFor(model => model.Name)</div>
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Enter Your Email Address", @class = "form-control", @id = "email", @type = "text", @name = "email" })
            <div class="validation-message">@Html.ValidationMessageFor(model => model.Email)</div>
        </div>
    </div>

    <div class="row p-2">
        <div class="col-md-12">
            @Html.TextBoxFor(model => model.Subject, new { @placeholder = "Subject", @class = "form-control", @id = "subject", @type = "text", @name = "subject" })
            <div class="validation-message">@Html.ValidationMessageFor(model => model.Subject)</div>
        </div>
   
    </div>

    <div class="row p-2">
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Message, new { @placeholder = "Message", @class = "form-control", @id = "message", @name = "message", @rows = 7 })
        </div>

    </div>

    <div class="row p-2">
        <div class="col-md-12">

            <input class="btn btn-success" type="submit" name="Submit" value="Send Message">
        </div>

    </div>

}





















