@model NepaleseRestaurant.Models.PageMenuCategoryViewModel
@if (Model != null)
{

    for (var i = 0; i < Model.Mivml.Count(); i++)
    {

        <div class="row mb-4 border shadow-sm">
            <div class="col-md-2">
                <img src="@Model.Mivml[i].PhotoThumbString" alt="@Model.Mivml[i].MenuItemName" class="img-fluid img-thumbnail mt-1" />
                <div class="w-100 text-center">  @Html.ActionLink("Adjust Photo", "Crop", new { id = Model.Mivml[i].MenuItemId })</div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">@Model.Mivml[i].MenuItemOrder @Model.Mivml[i].MenuItemName </div>
                    <div class="col-md-2"><span class="font-italic">(PCS @Model.Mivml[i].MenuItemPieces)</span></div>
                    <div class="col-md-1"><small class="font-italic font-weight-bold">@Model.Mivml[i].MenuItemServings</small></div>
                    <div class="col-md-3"><small class="font-italic">@Model.Mivml[i].MenuItemStyle</small></div>
                    <div class="col-md-1"><small class="font-italic">@Model.Mivml[i].MenuItemSpiciness</small></div>
                    <div class="col-md-1"><small class="font-italic">@Model.Mivml[i].MenuItemMeat</small></div>
                    <div class="col-md-1"><small class="font-italic font-weight-bold">@Model.Mivml[i].MenuItemHalfFull</small></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><small class="font-italic font-weight-bold">@Model.Mivml[i].MenuItemDescription</small></div>
                </div>

            </div>
            <div class="col-md-1">
                <span class="font-weight-bold float-right">  $@Model.Mivml[i].MenuItemPrice</span>
            </div>
            <div class="col-md-1">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("DeleteItem", "Secure", new { id = Model.Mivml[i].MenuItemId }))
                        {
                            <input type="submit" class="del_btn" value="Delete" onclick="return confirm('Are you sure you want to delete @Model.Mivml[i].MenuItemName')" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="edt_btn" data-toggle="modal" data-target="#@Model.Mivml[i].MenuItemId">
                            Edit
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="modal fade" id="@Model.Mivml[i].MenuItemId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Menu Item</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @*@Html.Partial("_EditMenuItemForm")*@
                                        @{Model.Mivm = Model.Mivml[i]; }

                                        @using (Html.BeginForm("EditItemPost", "Secure", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.ValidationSummary(true)
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.Mivm.MenuCategoryId)
                                            @Html.HiddenFor(model => model.Mivm.MenuItemId)

                                            List<SelectListItem> HalfFull = new List<SelectListItem>();

                                            HalfFull.Add(new SelectListItem

                                            {
                                                Text = "N/A",
                                                Value = null
                                            });

                                            HalfFull.Add(new SelectListItem

                                            {
                                                Text = "Full",
                                                Value = "Full"
                                            });
                                            HalfFull.Add(new SelectListItem
                                            {
                                                Text = "Half",
                                                Value = "Half"
                                            });

                                            HalfFull.Add(new SelectListItem
                                            {
                                                Text = "One-Fourth",
                                                Value = "One-Fourth"
                                            });

                                            List<SelectListItem> Servings = new List<SelectListItem>();

                                            Servings.Add(new SelectListItem

                                            {
                                                Text = "N/A",
                                                Value = null
                                            });

                                            Servings.Add(new SelectListItem
                                            {
                                                Text = "Small",
                                                Value = "Small"
                                            });
                                            Servings.Add(new SelectListItem
                                            {
                                                Text = "Large",
                                                Value = "Large"
                                            });

                                            List<SelectListItem> Meat = new List<SelectListItem>();

                                            Meat.Add(new SelectListItem

                                            {
                                                Text = "N/A",
                                                Value = null
                                            });

                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Chicken",
                                                Value = "Chicken"
                                            });
                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Vegan",
                                                Value = "Vegan"
                                            });
                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Beef",
                                                Value = "Beef"
                                            });
                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Pork",
                                                Value = "Pork"
                                            });
                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Lamb",
                                                Value = "Lamb"
                                            });

                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Fish",
                                                Value = "Fish"
                                            });
                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Goat",
                                                Value = "Goat"
                                            });
                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Noodle",
                                                Value = "Noodle"
                                            });

                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Vegetarian",
                                                Value = "Vegetarian"
                                            });
                                            Meat.Add(new SelectListItem
                                            {
                                                Text = "Prawn",
                                                Value = "Prawn"
                                            });

                                            List<SelectListItem> Spice = new List<SelectListItem>();

                                            Spice.Add(new SelectListItem

                                            {
                                                Text = "N/A",
                                                Value = null
                                            });

                                            Spice.Add(new SelectListItem
                                            {
                                                Text = "Mild",
                                                Value = "Mild"
                                            });
                                            Spice.Add(new SelectListItem
                                            {
                                                Text = "Medium",
                                                Value = "Medium"
                                            });

                                            Spice.Add(new SelectListItem
                                            {
                                                Text = "Hot",
                                                Value = "Hot"
                                            });

                                            Spice.Add(new SelectListItem
                                            {
                                                Text = "Very Hot",
                                                Value = "Very Hot"
                                            });

                                            List<SelectListItem> Style = new List<SelectListItem>();

                                            Style.Add(new SelectListItem

                                            {
                                                Text = "N/A",
                                                Value = null
                                            });

                                            Style.Add(new SelectListItem
                                            {
                                                Text = "Chef Special",
                                                Value = "Chef Special"
                                            });
                                            Style.Add(new SelectListItem
                                            {
                                                Text = "Nepalese Style, Hot",
                                                Value = "Nepalese Style, Hot"
                                            });

                                            Style.Add(new SelectListItem
                                            {
                                                Text = "Nepalese Style, Med Hot",
                                                Value = "Nepalese Style, Med Hot"
                                            });

                                            List<SelectListItem> Pieces = new List<SelectListItem>();

                                            Pieces.Add(new SelectListItem

                                            {
                                                Text = "N/A",
                                                Value = null
                                            });

                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "N/A",
                                                Value = "N/A"
                                            });

                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "1",
                                                Value = "1"
                                            });
                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "2",
                                                Value = "2"
                                            });

                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "3",
                                                Value = "3"
                                            });

                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "4",
                                                Value = "4"
                                            });

                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "5",
                                                Value = "5"
                                            });

                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "6",
                                                Value = "6"
                                            });

                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "7",
                                                Value = "7"
                                            });

                                            Pieces.Add(new SelectListItem
                                            {
                                                Text = "8",
                                                Value = "8"
                                            });

                                            <div class="row pt-2">
                                                <div class="col-md-12">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">Item Name</small>
                                                    @Html.TextBoxFor(model => model.Mivm.MenuItemName, new { @placeholder = "Item Name", @class = "form-control", @id = "itemname", @type = "text", @name = "itemname" })
                                                    <div class="validation-message">@Html.ValidationMessageFor(model => model.Mivm.MenuItemName)</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">Item Price</small>
                                                    @Html.TextBoxFor(model => model.Mivm.MenuItemPrice, "{0:n2}", new { @placeholder = "Item Price", @class = "form-control", @type = "decimal", @id = "itemprice", @name = "itemprice" })
                                                    <div class="validation-message">@Html.ValidationMessageFor(model => model.Mivm.MenuItemPrice)</div>

                                                </div>
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">Item order on Menu</small>
                                                    @Html.TextBoxFor(model => model.Mivm.MenuItemNumbering, "{0:n2}", new { @placeholder = "Order of Item", @class = "form-control", @type = "decimal", @id = "itemname", @name = "itemorder" })
                                                    <div class="validation-message">@Html.ValidationMessageFor(model => model.Mivm.MenuItemNumbering)</div>
                                                </div>
                                            </div>

                                            <div class="row pt-2">
                                                <div class="col-md-12">
                                                    <small class="font-weight-bold">Item description</small>
                                                    @Html.TextAreaFor(model => model.Mivm.MenuItemDescription, new { @placeholder = "Item Description", @class = "form-control", @id = "itemdescription", @name = "message", @rows = 3 })
                                                    <div class="validation-message">@Html.ValidationMessageFor(model => model.Mivm.MenuItemDescription)</div>
                                                </div>
                                            </div>




                                            <div class="row pt-2">
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">Select Portion.</small>
                                                    @Html.DropDownListFor(model => model.Mivm.MenuItemHalfFull, HalfFull, Model.Mivm.MenuItemHalfFull, new { @placeholder = "HalfFull", @class = "form-control", @id = "halffull", @name = "halffull" })
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">
                                                        Select servings size.
                                                    </small>
                                                    @Html.DropDownListFor(model => model.Mivm.MenuItemServings, Servings, Model.Mivm.MenuItemServings, new { @placeholder = "Servings", @class = "form-control", @id = "servings", @name = "servings" })
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">
                                                        Select meat.
                                                    </small>
                                                    @Html.DropDownListFor(model => model.Mivm.MenuItemMeat, Meat, Model.Mivm.MenuItemMeat, new { @placeholder = "Meat", @class = "form-control", @id = "meat", @name = "meat" })

                                                </div>
                                            </div>

                                            <div class="row pt-2">
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">
                                                        Select Spiciness.
                                                    </small>
                                                    @Html.DropDownListFor(model => model.Mivm.MenuItemSpiciness, Spice, Model.Mivm.MenuItemSpiciness, new { @placeholder = "Spicy", @class = "form-control", @id = "spicy", @name = "spicy" })
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">
                                                        Select Style.
                                                    </small>
                                                    @Html.DropDownListFor(model => model.Mivm.MenuItemStyle, Style, Model.Mivml[i].MenuItemStyle, new { @placeholder = "Style", @class = "form-control", @id = "style", @name = "style" })
                                                </div>
                                                <div class="col-md-4">
                                                    <small class="font-weight-bold">
                                                        Select no of pieces
                                                    </small>
                                                    @Html.DropDownListFor(model => model.Mivm.MenuItemPieces, Pieces, Model.Mivml[i].MenuItemPieces, new { @placeholder = "Pieces", @class = "form-control", @id = "pieces", @name = "pieces" })

                                                </div>
                                            </div>

                                            <div class="row pt-2">
                                                <div class="col-md-12">
                                                    <small class="font-weight-bold">
                                                        Write any extra information if necessary.
                                                    </small>
                                                    @Html.TextBoxFor(model => model.Mivm.MenuItemMisc, new { @placeholder = "Miscellaneous", @class = "form-control", @id = "itemname", @type = "text", @name = "itemname" })
                                                </div>
                                            </div>

                                            <div class="row pt-2">

                                                <div class="col-md-8">

                                                    <div class="row"> <div class="col-md-12"> <h4>Upload Menu Item Photo</h4></div></div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <small class="font-weight-bold">
                                                                Only file of format JPG is accepted with size range between 500 kb and 2.4 mb
                                                            </small>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4">
                                                    @Html.TextBoxFor(model => model.Mivm.File, new { @class = "file btn btn-lg btn-secondary w-100", @placeholder = "Upload Photos", @type = "file" })
                                                    @Html.ValidationMessageFor(model => model.Mivm.File, "", new { @class = "text-danger" })
                                                </div>
                                            </div>




                                            <div class="row pt-2">
                                                <div class="col-md-12">
                                                    <input class="btn btn-success" type="submit" name="Submit" value="Save">
                                                </div>
                                            </div>



                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    }
}
