@*Player Starts Here*@


<div class="row-player nopadding">
    <div class="col-lg-4 col-md-6 col-sm-12 nopadding large-centered medium-centered columns">
        <div id="flat-black-player-container">
            <div id="list-screen" class="slide-in-top">

                <div id="list-screen-header" class="hide-playlist">
                    <img id="up-arrow" src="~/Content/player/img/up.svg" />
                    Hide Playlist
                </div>

                @*@if (ViewBag.Audios != null)
        {
            foreach (var aud in ViewBag.Audios as List<HeroBlaze.Models.AudioMediaViewModel>)
            {
            }
        }*@
                <div id="list">
            @foreach (var aud in ViewBag.Audios as List<HeroBlaze.Models.AudioMediaViewModel>)
            {
                <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="@aud.SongIndex">
                    <span class="song-number-now-playing">
                        @{
                            var song_no = aud.SongIndex + 1;
                         }
                        <span class="number">@song_no</span>
                        <img class="now-playing" src="~/Content/player/img/now-playing.svg" />
                    </span>

                    <div class="song-meta-container">
                        <span class="song-name">@aud.AudioTitle</span>
                        <span class="song-artist-album">@aud.Description</span>
                    </div>
                    <div class="del_aud circle">
                        @using (Html.BeginForm("DeleteAudio", "Account", new { id = aud.AudioMediaID}))
                        {
                            <input type="submit" class="del_btn" value="X" onclick="return confirm('Are you sure you want to delete @aud.AudioTitle')" />
                        }
                    </div>
                    <span class="song-duration">
                        3:30 Duration
                    </span>
                </div>


            }
        </div>


             

                @*<div id="list">
                    <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="0">
                        <span class="song-number-now-playing">
                            <span class="number">1</span>
                            <img class="now-playing" src="img/now-playing.svg" />
                        </span>

                        <div class="song-meta-container">
                            <span class="song-name">Risin' High (feat Raashan Ahmad)</span>
                            <span class="song-artist-album">Ancient Astronauts - We Are to Answer</span>
                        </div>

                        <span class="song-duration">
                            3:30
                            </span>
                    </div>
                    <div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="1">
                        <span class="song-number-now-playing">
                            <span class="number">2</span>
                            <img class="now-playing" src="img/now-playing.svg" />
                        </span>

                        <div class="song-meta-container">
                            <span class="song-name">The Gun</span>
                            <span class="song-artist-album">Lorn - Ask The Dust</span>
                        </div>

                        <span class="song-duration">
                            3:16
                            </span>
                    </div>
                 
                </div>*@


                <div id="list-screen-footer">
                    <div id="list-screen-meta-container">
                        <span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name"></span>

                        <div class="song-artist-album">
                            <span amplitude-song-info="artist" amplitude-main-song-info="true"></span>
                        </div>
                    </div>
                    <div class="list-controls">
                        <div class="list-previous amplitude-prev"></div>
                        <div class="list-play-pause amplitude-play-pause" amplitude-main-play-pause="true"></div>
                        <div class="list-next amplitude-next"></div>
                    </div>
                </div>
            </div>
            <div id="player-screen">
                <div class="player-header down-header">
                    <img id="down" src="~/Content/player/img/down.svg" />
                    Show Playlist
                </div>
                <div id="player-top">
                    <img amplitude-song-info="cover_art_url" amplitude-main-song-info="true" />
                </div>
                <div id="player-progress-bar-container">
                    <progress id="song-played-progress" class="amplitude-song-played-progress" amplitude-main-song-played-progress="true"></progress>
                    <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
                </div>
                <div id="player-middle">
                    <div id="time-container">
                        <span class="amplitude-current-time time-container" amplitude-main-current-time="true"></span>
                        <span class="amplitude-duration-time time-container" amplitude-main-duration-time="true"></span>
                    </div>
                    <div id="meta-container">
                        <span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name"></span>

                        <div class="song-artist-album">
                            <span amplitude-song-info="artist" amplitude-main-song-info="true"></span>
                        </div>
                    </div>
                </div>
                <div id="player-bottom">
                    <div id="control-container">

                        <div id="shuffle-container">
                            <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
                        </div>

                        <div id="prev-container">
                            <div class="amplitude-prev" id="previous"></div>
                        </div>

                        <div id="play-pause-container">
                            <div class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
                        </div>

                        <div id="next-container">
                            <div class="amplitude-next" id="next"></div>
                        </div>

                        <div id="repeat-container">
                            <div class="amplitude-repeat" id="repeat"></div>
                        </div>

                    </div>

                    <div id="volume-container">
                        <img src="~/Content/player/img/volume.svg" /><input type="range" class="amplitude-volume-slider" step=".1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Java Script*@
@*@if (ViewBag.Audios != null)
    {
        foreach (var aud in ViewBag.Audios as List<HeroBlaze.Models.AudioMediaViewModel>)
        {
        }
    }*@
<script type="text/javascript">
                Amplitude.init({
                    "bindings": {
                        37: 'prev',
                        39: 'next',
                        32: 'play_pause'
                    },
                    "songs":
                    [
                    @foreach (var aud in ViewBag.Audios as List<HeroBlaze.Models.AudioMediaViewModel>)
                    {
                        @:{
                            @:"name": "@aud.AudioTitle",
                            @:"artist": "Ancient Astronauts",
                            @:"album": "We Are to Answer",
                            @:"url": "@aud.AudioFile",
                            @:"cover_art_url": "/Content/player/album-art/we-are-to-answer.jpg"
                            @: },
                        }

                        //{
                        //    "name": "The Gun",
                        //    "artist": "Lorn",
                        //    "album": "Ask The Dust",
                        //    "url": "/Content/player/songs/b.mp3",
                        //    "cover_art_url": "/Content/player/album-art/ask-the-dust.jpg"
                        //},
                    ]
                });

</script>




@*Player Ends Here*@





@*<div class="row bgblk">
        <div class="col-md-3 nopadding"><div class="documenttitle">@aud.AudioTitle</div></div>
        <div class="col-md-8  nopadding">

            <div class="audioplayer">
                <audio controls class="player">
                    <source src="@aud.AudioFile" type="audio/mpeg" />
                </audio>
            </div>



        </div>

        <div class="col-md-1 nopadding">
            <div class="del_aud circle">
                @using (Html.BeginForm("DeleteAudio", "Account", new { id = aud.AudioMediaID }))
                {
                    <input type="submit" class="del_btn" value="X" onclick="return confirm('Are you sure you want to delete @aud.AudioTitle')" />
                }
            </div>

        </div>
    </div>*@

